


{% extends 'userPages/baseIndex.html' %}

{% block content %}
<div class="d-flex flex-column">
    <h1>Recipe List</h1>
    <div class="d-flex flex-column">
        <ul id="recipeList"></ul>
    </div>
    <br>

    <form class="container-fluid justify-content-end" id="printListButton" method="GET" target="_blank" action="{% url 'printableList' %}">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Open Printable List</button>
    </form>
    <h1 id="ingredListLogo">Ingredients List</h1>
    <div class="d-flex flex-column">
        <ul id="ingredList"></ul>
    </div>

</div>


<script>
    bigList = localStorage.getItem("listOfRecipes");
    populate = true;
    if (bigList == null){
        document.getElementById("recipeList").innerHTML = "Looks like nothing has been added to your list.";
        document.getElementById("ingredListLogo").hidden = true;
        document.getElementById("printListButton").hidden = true;
        populate = false;
    }else{
        bigList = JSON.parse(bigList);
    }
    //Populate recipe unordered list
    aString = "";
    if (populate){
        for (i in bigList){
            aString += "<li>" + String(bigList[i][0]) + " - ";
            aString += String(bigList[i][1]) + "</li>";
        }
        document.getElementById("recipeList").innerHTML = aString;
    }

    //Populate ingredient unordered list; Sooo Messy. DON'T LOOK AT ME!!! I'm Hideous
    conversions = {"1/4": .25, "1/3": .33, "1/2": .5};
    aString = "";
    if (populate){
        fullIList = {};
        for (x in bigList){
            for(i in bigList[x][2]){
                temp = bigList[x][2][i];
                if (temp[2] in fullIList){
                    //check if types match, yes - add them together
                    if (temp[1] == fullIList[temp[2]][1]){
                        if (isNaN (temp[0])){
                            fullIList [temp[2]] = [conversions[temp[0]] * bigList[x][0] + fullIList [temp[2]][0], temp[1]];
                        }else{
                            fullIList [temp[2]] = [parseFloat(temp[0]) * bigList[x][0] + fullIList [temp[2]][0], temp[1]];
                        }
                    //no - check if key_type exists, yes - add them together
                    }else if( temp[2] + "_" + temp[1] in fullIList){
                        tempName = temp[2] + "_" + temp[1];
                        if (isNaN (temp[0])){
                            fullIList [tempName] = [conversions[temp[0]] * bigList[x][0] + fullIList [tempName][0], temp[1]];
                        }else{
                            fullIList [tempName] = [parseFloat(temp[0]) * bigList[x][0] + fullIList [tempName][0], temp[1]];
                        }
                    //no - add key_type
                    }else{
                        tempName = temp[2] + "_" + temp[1];
                        if (isNaN (temp[0])){
                            fullIList [tempName] = [conversions[temp[0]] * bigList[x][0], temp[1]];
                        }else{
                            fullIList [tempName] = [parseFloat(temp[0]) * bigList[x][0], temp[1]];
                        }
                    }
                }else{
                    //Not exist so add key
                    if (isNaN (temp[0])){
                        fullIList [temp[2]] = [conversions[temp[0]] * bigList[x][0], temp[1]];
                    }else{
                        fullIList [temp[2]] = [parseFloat(temp[0]) * bigList[x][0], temp[1]];
                    }
                }
            }
        }
        for (i in fullIList){
            aString += "<li>" + String(fullIList[i][0]) + " " + fullIList[i][1];
            aString += " - " + i + "</li>";
        }
        document.getElementById("ingredList").innerHTML = aString;
    }

    /*
    var ingred = JSON.parse("{{ ingList|escapejs }}")
    var astring = ""
    for (i in ingred){
        astring += "<li>" + String(ingred[i][0]);
        if (ingred[i][1] != ""){
            astring += " " + String(ingred[i][1]);
        }
        astring += " " + String(ingred[i][2]) + "</li>";
    }
    document.getElementById("ingredList").innerHTML = astring;

    //Add Recipe to List (Local Storage) button functionality
    function addIngred(){
        bigList = localStorage.getItem("listOfRecipes");
        if (bigList == null){
            bigList = [[1, "{{ recipe.title }}", ingred]];
            localStorage.setItem("listOfRecipes", JSON.stringify(bigList));
            return;
        }
        bigList = JSON.parse(bigList);
        foundType = false;
        for (i in bigList){
            if (bigList[i][1] == "{{ recipe.title }}"){
                bigList[i][0] += 1;
                foundType = true;
                break;
            }
        }
        if (!foundType){
            bigList.push([1, "{{ recipe.title }}", ingred]);
        }
        localStorage.setItem("listOfRecipes", JSON.stringify(bigList));
    }
*/
</script>

{% endblock %}